<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Set</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h3>Add Set</h3>
<form method="post">
    <label for="title">Title:</label>
    <br>
    <input type="text" id="title" name="title">
    <br>
    <label for="detail">Detail:</label>
    <br>
    <input type="text" id="detail" name="detail">
    <br>
    <label for="languages">Languages:</label>
    <br>
    <!--remove it!-->
    <input type="text" id="languages" name="languages">
    <!--fill it!-->
<!--    <select id="languages" name="languages">-->
<!--        <option value="" th:text="'-'"></option>-->
<!--        <option th:each="language : ${T().}"-->
<!--                th:value="${}"-->
<!--                th:text="${}"></option>-->
<!--    </select>-->
    <br>
    <br>
    <input type="submit" value="Save">
    <a th:href="@{/}">
        <button type="button">Back</button>
    </a>
</form>
</body>
</html>