<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.set}">Manage Flashcards Sets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!-- JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<a th:href="@{/home}">Home</a>
<h3 th:text="#{title.set}">Manage Flashcards Sets</h3>
<table border="1">
    <thead>
    <tr>
        <th th:text="#{table.set.th1}" colspan="3">Flashcard sets</th>
        <th><a th:text="#{button.add}" th:href="@{/set/add}">Add</a></th>
    </tr>
    <tr th:if="*{#lists.isEmpty(page.content)}">
        <th th:text="#{table.set0}" colspan="4">No Sets Available</th>
    </tr>
    <tr th:unless="*{#lists.isEmpty(page.content)}">
        <th>#</th>
        <th th:text="#{label.set.title.required}">Title</th>
        <th th:text="#{label.set.languages.required}">Languages</th>
        <th th:text="#{title.show.set.action}">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="set : ${page.content}">
        <td th:text="${setStat.index} + ${page.number} * ${page.size} + 1">
        </td>
        <td th:text="${set.title}">Title</td>
        <td th:text="${set.languages}">Languages</td>
        <td><a th:text="#{title.show.set.show}" th:href="@{/set/{id}(id=${set.id})}">Show</a></td>
    </tr>
    </tbody>
</table>
<span th:if="${page.totalPages > 1}" class="pagination">
    <a th:each="pageNumber : ${#numbers.sequence(1, page.totalPages)}"
       th:href="@{/set/(page=${pageNumber - 1}, size=${page.size})}"
       th:text="${pageNumber}"
       th:class="${page.number + 1 == pageNumber} ? active"></a>
</span>
</body>
</html>