<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.setOne}">View Set</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!-- JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body class="pb-5">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/set" th:text="#{navbar.sets}">Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{navbar.learningZone}">Learning zone</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:text="#{navbar.creatingZone}">Creating zone</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:text="#{navbar.yourProfile}">Your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{navbar.findFriends}">Find friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{navbar.contact}">Contact</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login" th:text="#{navbar.loggingIn}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout" th:text="#{navbar.loggingOut}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12 mt-5 pl-0 pt-0">
            <h3 th:text="#{title.setOne}">View Set</h3>
        </div>
        <br>
        <div class="col-md-6 d-block bg-light-blue">
            <div th:object="${set}">
                <div class="form-group">
                    <label for="title" th:text="#{label.set.title.required}">Title:</label>
                    <input class="form-control" type="text" id="title" name="title" disabled th:value="*{title}">
                </div>
                <div class="form-group">
                    <label for="detail" th:text="#{label.set.detail}">Detail:</label>
                    <input class="form-control" type="text" id="detail" name="detail" disabled th:value="*{detail}">
                </div>
                <div class="form-group">
                    <label for="languages" th:text="#{label.set.languages.required}">Languages:</label>
                    <input class="form-control" type="text" id="languages" name="languages" disabled
                           th:value="#{'language.' + *{languages}}">
                </div>
                <div class="form-group">
                    <label for="languages" th:text="#{label.set.languages.creator}">Creator:</label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="creator" name="creator" disabled th:value="*{creator}">
                        <span class="input-group-btn">
                            <a th:href="@{/set(login=*{creator})}">
                                <button class="btn btn-primary" type="button" th:text="#{button.creator}">See all user's sets</button>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-5">
                    <a th:href="@{/test/{id}(id=*{id})}">
                        <button class="btn btn-primary mr-1 ml-1">Test</button>
                    </a>
                    <a th:href="@{/set/edit/{id}(id=*{id})}">
                        <button class="btn btn-primary mr-1 ml-1" th:text="#{button.edit}">Edit</button>
                    </a>
                    <a th:href="@{/set/delete/{id}(id=*{id})}">
                        <button class="btn btn-primary mr-1 ml-1" th:text="#{button.delete}">Delete</button>
                    </a>
                    <a th:href="@{/set}">
                        <button class="btn btn-primary mr-1 ml-1" th:text="#{button.back}">Back</button>
                    </a>
                </div>
                <hr class="mb-1 mt-1">
                <table class="table table-stripped w-100">
                    <thead>
                    <tr>
                        <th class="text-center" th:text="#{table.showOne.th1}" style="border: 0">Flashcards</th>
                        <th style="opacity: 0"></th>
                        <th style="border: 0">
                            <a th:href="@{/flashcard/add/{id}(id=*{id})}"><button th:text="#{button.add}">Add</button></a>
                        </th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(flashcardsPage.content)}">
                        <th class="text-center" th:text="#{table.showOne0}" colspan="4">No Flashcards Available</th>
                    </tr>
                    <tr th:unless="${#lists.isEmpty(flashcardsPage.content)}">
                        <th th:text="#{label.left}">Left side</th>
                        <th th:text="#{label.right}">Right side</th>
                        <th th:text="#{table.showOne.actions}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="flashcard : ${flashcardsPage.content}">
                        <td th:text="${flashcard.leftSide}">Left side</td>
                        <td th:text="${flashcard.rightSide}">Right side</td>
                        <td>
                            <a th:text="#{button.edit}" th:href="@{/flashcard/edit/{id}(id=${flashcard.id})}">Edit</a>
                            <a th:text="#{button.delete}" th:href="@{/flashcard/delete/{id}(id=${flashcard.id})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <img class="w-100 float-right d-block" src="/images/person-oneSet.jpg" alt="person with a hand on face">
        </div>
        <nav th:if="${flashcardsPage.totalPages > 1}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${flashcardsPage.number != 1} ? disabled">
                    <a class="page-link" th:href="@{/set/{id}(id=${set.id},page=${flashcardsPage.number - 1}, size=${flashcardsPage.size})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${flashcardsPage.number + 1 == pageNumber} ? active"
                    th:each="pageNumber : ${#numbers.sequence(1, flashcardsPage.totalPages)}">
                    <a class="page-link" th:text="${pageNumber}"
                       th:href="@{/set/{id}(id=${set.id},page=${pageNumber - 1}, size=${flashcardsPage.size})}"></a>
                </li>
                <li class="page-item"  th:classappend="${flashcardsPage.number + 1 == flashcardsPage.totalPages} ? disabled">
                    <a class="page-link" th:href="@{/set/{id}(id=${set.id},page=${flashcardsPage.number + 1}, size=${flashcardsPage.size})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="dropdown dropup">
            <button class="btn btn-primary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" th:text="${flashcardsPage.size}"/>
            <div class="dropdown-menu">
                <h6 class="dropdown-header">Page size</h6>
                <a class="dropdown-item" href="#" th:each="val : ${#numbers.sequence(5, 15, 5)}"
                   th:value="${val}" th:text="${val}" th:selected="${val == flashcardsPage.size}">Action</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>