<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Set</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h3>View Set</h3>
<div th:object="${set}">
    <label for="title">Title:</label>
    <br>
    <input type="text" id="title" name="title" disabled th:value="*{title}">
    <br>
    <label for="detail">Detail:</label>
    <br>
    <input type="text" id="detail" name="detail" disabled th:value="*{detail}">
    <br>
    <label for="languages">Languages:</label>
    <br>
    <input type="text" id="languages" name="languages" disabled th:value="*{languages}">
    <br>
    <br>
    <a th:href="@{/edit/{id}(id=*{id})}"><button>Edit</button></a>
    <a th:href="@{/delete/{id}(id=*{id})}"><button>Delete</button></a>
    <a th:href="@{/}"><button>Back</button></a>
    <br>
    <br>

    <table border="1">
        <!--repair <thead> like in show.html-->
        <thead>
        <tr>
            <th style="border: 0">Flashcards</th>
            <th style="opacity: 0"></th>
            <th style="border: 0"><a th:href="@{/flashcard/add/{id}(id=*{id})}">
                <button>Add</button>
            </a></th>
        </tr>
        <tr>
            <th th:if="${#lists.isEmpty(set)}">No Flashcards Available</th>
            <th>Left side</th>
            <th>Right side</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flashcard : *{flashcards}">
            <td th:text="${flashcard.leftSide}">Left side</td>
            <td th:text="${flashcard.rightSide}">Right side</td>
            <td>
                <a th:href="@{flashcard/edit/{id}(id=${flashcard.id})}">Edit</a>
                <a th:href="@{/flashcard/delete/{id}(id=${flashcard.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>