<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Flashcards Sets</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h3>Manage Flashcards Sets</h3>
<table border="1">
    <thead>
    <tr>
        <th colspan="3">Flashcard sets</th>
        <th><a th:href="@{/add}">Add</a></th>
    </tr>
    <tr th:if="*{#lists.isEmpty(page.content)}">
        <th colspan="4">No Flashcards Available</th>
    </tr>
    <tr th:unless="*{#lists.isEmpty(page.content)}">
        <th>#</th>
        <th>Title</th>
        <th>Languages</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="set : ${page.content}">
        <td th:text="${setStat.index}"></td>
        <td th:text="${set.title}">Title</td>
        <td th:text="${set.languages}">Languages</td>
        <td><a th:href="@{/{id}(id=${set.id})}">Show</a></td>
    </tr>
    </tbody>
</table>

<span th:if="${page.totalPages> 1}" class="pagination">
    <a th:each="pageNumber : ${#numbers.sequence(1, page.totalPages)}"
       th:href="@{/(page=${pageNumber -1})}"
       th:text="${pageNumber}"
       th:class="${page.number +1 == pageNumber} ? active"></a>
</span>


</body>
</html>