<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{title.add.flashcard}">Add Flashcard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!-- JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="pb-5">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" th:href="@{/home}">
            <img src="/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/set">Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Learning zone</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#">Creating zone</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#">Your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Find friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12 mt-5 pl-0 pt-0">
            <h3 th:text="#{title.add.flashcard}">Add Flashcard</h3>
        </div>
        <div class="col-md-6 d-block bg-light-blue">
            <form method="post" th:object="${flashcard}" action="/flashcard/add">
                <input type="hidden" id="flashcardsSet" name="flashcardsSet" th:value="${setId}">
                <label th:text="#{label.left}" for="leftSide">Left side:</label>
                <div class="form-group">
                    <input class="form-control" type="text" id="leftSide" name="leftSide" th:value="*{leftSide}"
                           th:errorClass="fieldError">
                    <span th:errors="*{leftSide}"></span>
                </div>
                <div class="form-group">
                    <label th:text="#{label.right}" for="rightSide">Right side:</label>
                    <input class="form-control" type="text" id="rightSide" name="rightSide" th:value="*{rightSide}"
                           th:errorClass="fieldError">
                    <span th:errors="*{rightSide}"></span>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary ml-2 mr-2" type="submit" value="Save" th:value="#{button.save}">
                    <a th:href="@{/set/{id}(id=${setId})}">
                        <button class="btn btn-primary ml-2 mr-2" th:text="#{button.back}" type="button">Back</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>