.active {
    background-color: bisque;
}
.pagination > a {
    margin-right: 5px;
}
.fieldError {
    border: 2px solid red;
}
.flashcard {
    border: 2px black solid;
    cursor: pointer;
    height: 200px;
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    user-select: none;
}