body, html {
    background: #60d7f9;
}

.bg-light-blue {
    background: #b0f3f9;
}

.border-div {
    border: 2px solid #436d72;
    border-radius: 14px;
}

.fieldError {
    border: 2px solid red;
}

.flashcard {
    border: 2px black solid;
    cursor: pointer;
    height: 200px;
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    user-select: none;
}

.navbar-brand img {
    width: 65px;
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}