<!DOCTYPE HTML>
<html xmlns:sec="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!-- JS -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="pb-5">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="/images/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/set" th:text="#{navbar.sets}">Sets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{navbar.learningZone}">Learning zone</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:text="#{navbar.creatingZone}">Creating zone</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:text="#{navbar.yourProfile}">Your profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{navbar.findFriends}">Find friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="#{navbar.contact}">Contact</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login" th:text="#{navbar.loggingIn}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout" th:text="#{navbar.loggingOut}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12 mt-5">
            <p class="text-justify bg-light-blue border-div w-75 mx-auto pt-3 pb-3 pl-4 pr-4">
                Znużony czytaniem nudnych podręczników? Musisz szybko przyswoić zwroty w języku obcym przed sprawdzianem
                lub wyjazdem? Pragniesz poznać ciekawych ludzi zza granicy? Nie zamierzasz wydawać bajońskich sum na
                szkoły językowe? A może po prostu chcesz produktywnie spędzić czas i połączyć rozrywkę oraz naukę?
                Przyjemna, skuteczna, a co niemniej ważne - bezpłatna metoda nauki poprzez fiszki sprawdzi się wielu
                sytuacjach. Koniecznie sprawdź to osobiście!
            </p>
        </div>
        <div class="text-justify bg-light-blue border-div col-md-4 pt-2 offset-md-1">
            <h4>Formularz rejestracyjny</h4>
            <form action="/registration" method="post" autocomplete="off">
                    <div class="form-group">
                        <label th:text="#{registration.login}" for="login">Login:</label>
                        <input class="form-control" type="text" id="login" name="login" required minlength="4" maxlength="16" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label th:text="#{registration.password}" for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="password" required minlength="4" maxlength="16" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label th:text="#{registration.passwordConfirmation}" for="passwordConfirmation" >Repeat the password:</label>
                        <input class="form-control" type="password" id="passwordConfirmation" name="passwordConfirmation" required minlength="4" maxlength="16">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mx-auto d-block" th:text="#{button.save}">Save</button>
                    </div>
            </form>
        </div>
        <div class="col-md-6">
            <img class="w-100" src="/images/person-home.jpg">
        </div>
    </div>
</div>
</body>
</html>